.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Quicksand', sans-serif;
}

.body_form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 0.6rem;
}

.login_container {
    display: flex;
    flex-direction: column;
}

.login_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    align-self: center;
}

input {
    height: 1.5rem;
    width: 20rem;
}

.form_is_registered {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_is_registered a {
    padding: 0.2rem;
    text-decoration: none;
    color: #36454F;

}


h1, h2, h3 {
    margin: 0;
    font-family:'Roboto', sans-serif;
    color: #36454F;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    color: #0047AB;
}

.form_submit-button {
    height: 2.4rem;
    width: 20.4rem;
    color: white;
    background-color: #0047AB;
}
