{% extends 'base.html' %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block body %}
  <div class="login_container">
    <div class="login_title">
      <h1 class="logo_first">Bots</h1><h3 class="logo_second">pay</h3>
    </div>
    <form method="post" class="body_form">
      <h2>Log In</h2>
      <label for="national_id" class="form_label">National ID</label>
      <input type="text" class="customer-national-id" name="national_id" access="false" maxlength="9" id="national_id"
        required="required" aria-required="true">
      <label for="password" class="form_label">Password</label>
      <input type="password" name="password" id="password" class="form_input" required>
      <button type="submit" class="form_submit-button" name="submit" value="submit" id="submit">Log In</button>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      <div class="form_is_registered">
        <p>Don't have an account?</P>
        <a href="{{ url_for('customer_registration') }}">Register</a>
       </div>
    </form>
  </div>
{% endblock %}
